@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
    user-select: none;
}
.cards-filtration{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.cards-header{
    display: flex;
    align-items: center;
    width: 1180px;
    height: 60px;
    background: linear-gradient(90deg, #62a2d2, #efefef);
    margin-right: 20px;
}
.buttons-container{
    display: flex;
    justify-content: space-between;
    width: 330px;
}
.button {
    background: white linear-gradient(to bottom, #ffffff, #d8d7d7);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
.button:hover {
    background: linear-gradient(to bottom, #e2e1e1, #aeadad); /* Темнее при наведении */
}
.button:active{
    background: linear-gradient(to bottom, #ffffff, #f2f1f1);
}
.button-selected{
    background: linear-gradient(to bottom, #d1cfcf, #f1cdcd)
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.product-tile{
    width: 280px;
    height: 480px;
    background-color:  #efefef;
    display: flex;
    align-items: center; 
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}
.product-tile.hide{
    opacity: 0.5;
}
.product-tile__content-img{
    margin-top: 30px;
    overflow: hidden;
    max-width: 160px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
}
.product-tile__content{
    margin-top: 20px;
    width: 240px;
    height: 440px;
    background-color: white;
    transition: height 0.6s ease;
    position: relative;
}
.product-tile__content-img img{
    width: 100%;
    transition: transform 0.3s ease;
    overflow: hidden;
    object-fit: cover;
}
.product-tile__content-icon-new{
    position: absolute;
    width: 25px; 
    height: 14px;
    top: 10px;
    left: 10px;
}
.product-tile__content-icon-new svg{
    fill: #62a2d2;
    width: 100%; 
    height: 100%; 
    display: block;
}
.product-tile__content-description{
    width: 100%;
    padding-top: 45px;
    height: 115px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.6s ease, padding-top 0.6s ease;
}
.product-grade{
    line-height: 10px;
    height: 15px;
    text-align: center;
}
.fa-eye, .fa-heart, .fa-scale-balanced{
    color: black;
}
.fa-bag-shopping{
    color: white;
}
.product-tile__content-description-price{
    height: 20px;
}
.product-tile__content-dropdown-buttons{
    display: none;
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 10;
}
.product-tile__content-dropdown-buttons-item{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 8px;
    border: none;
    opacity: 0.95;
}

/* dropdown buttons states */
.product-tile__content-dropdown-buttons-item:hover {
    background-color: #c5c4c4;
    opacity: 1;
}
.product-tile__content-dropdown-buttons-item.active-hide{
    background-color: #b2dcfd;
}
.product-tile__content-dropdown-buttons-item.active-fav{
    background-color: #f1cdcd;
}
.product-tile__content-dropdown-buttons-item.active-comparison{
    background-color: #c3f8f4;
}

.product-tile__add-button{
    display: none;
    width: 140px;
    height: 30px;
    background-color: #62a2d2;
    border: none;
    cursor: pointer;
    align-items: center;
    animation: add-btn-animation 0.6s forwards;
}
.product-tile__add-button:hover{
    background-color: #578cb2
}

/* product-tile hovers */
.product-tile__content-img img:hover {
    transform: scale(1.1);
}
.product-tile:hover .product-tile__content{
    height: 380px;
}
.product-tile:hover .product-tile__content-description {
    padding-top: 25px;
    transform: translateY(-30px);
}
.product-tile:hover .product-tile__add-button {
    display: block;
    margin: auto 0;
    opacity: 1;
    transition: opacity 0.6s ease;
}
.product-tile__content:hover .product-tile__content-dropdown-buttons {
    display: block;
}
.product-tile:hover .product-tile__content-dropdown-buttons{
    animation-name: side_animation;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
}
@keyframes side_animation {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes add-btn-animation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    50%{
        opacity: 0.7;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

/* product grade logic*/
.product-grade__stars{
    display: flex;
    flex-direction: row;
    color: #efefef;
    position: relative;
}
.product-grade__stars-active{
    height: 14px;
    position: absolute;
    top:0;
    left:0;
    color: #ffb503;;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.fa-star{
    font-size: 11px;
}
[data-rating="3.4"] .product-grade__stars-active{
    width: calc(3.4 * 100% / 5);
    overflow: hidden;
}
[data-rating="1.3"] .product-grade__stars-active{
    width: calc(1.3 * 100% / 5);
    overflow: hidden;
}
[data-rating="4.5"] .product-grade__stars-active{
    width: calc(4.5 * 100% / 5);
    overflow: hidden;
}


/* fonts styles*/
.product-tile__content-description-title,
.product-tile__content-description-price{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.product-tile__content-description-extra{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: #9a9a9a;
}
.product-tile__content-description-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
}
.product-tile__content-description-price span{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
.product-tile__content-description-price .old{
    color: red;
}
.product-tile__content-description-price .new{
    text-decoration: line-through;
    margin-left: 6px;
}
.product-tile__add-button .btn-content{
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    font-weight: 500;
    margin-left: 5px;
}
.product-grade,
.product-tile__content-description-title{
    margin-top: 5px;
}