@media(max-width: 1200px){
    .cards-container{
        max-width: 900px;
    }
    .cards-header{
        max-width: 880px;
    }
}
@media(max-width: 900px){
    .cards-container{
        max-width: 600px;
    }
    .cards-header{
        max-width: 580px;
    }
}

@media(max-width: 600px){
    .cards-container{
        max-width: 300px;
    }
    .cards-header{
        max-width: 300px;
        margin: 0;
        height: 80px;
    }
    .product-tile{
        margin-right: 0;
        width: 300px;
    }
    .product-tile__content{
        height: 380px;
    }
    .product-tile__add-button {
        display: block;
        margin: auto 0;
    }
    .product-tile__content-description{
        padding-top: 15px;
        height: 90px;
    }
    .cards-filtration{
        padding: 0 10px;
    }
    .button{
        width: 80px;
        height: 30px;
        font-size: 10px;
        padding: 0;
    }
    .cards-filtration{
        flex-direction: column;
    }
    .buttons-container{
        width: 250px;
        margin-bottom: 10px;
    }
}